<!-- change-password.component.html -->
<div class="change-password-container">
    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="p-fluid">
        <!-- Champ Mot de passe actuel -->
        <div class="p-field">
            <label for="currentPassword">Current Password</label>
            <input id="currentPassword" type="password" pInputText formControlName="currentPassword" class="p-inputtext p-component" placeholder="Enter your current password" />
            <small *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)" class="p-error">
                Current password is required.
            </small>
        </div>

        <!-- Champ Nouveau mot de passe -->
        <div class="p-field">
            <label for="newPassword">New Password</label>
            <p-password id="newPassword" formControlName="newPassword" [feedback]="false" [inputStyle]="{ width: '100%' }" placeholder="Enter your new password"></p-password>
            <small *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="p-error">
                <span *ngIf="newPassword.errors?.required">New password is required.</span>
                <span *ngIf="newPassword.errors?.minlength">New password must be at least 6 characters long.</span>
            </small>
        </div>

        <!-- Champ Confirmer le nouveau mot de passe -->
        <div class="p-field">
            <label for="confirmNewPassword">Confirm New Password</label>
            <p-password id="confirmNewPassword" formControlName="confirmNewPassword" [feedback]="false" [inputStyle]="{ width: '100%' }" placeholder="Confirm your new password"></p-password>
            <small *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)" class="p-error">
                <span *ngIf="confirmNewPassword.errors?.required">Password confirmation is required.</span>
                <span *ngIf="changePasswordForm.errors?.mismatch">Passwords do not match.</span>
            </small>
        </div>

        <!-- Bouton de soumission -->
        <div class="p-field" style="text-align: center;">
            <button pButton type="submit" label="Change Password" class="p-button p-component p-button-primary" [disabled]="changePasswordForm.invalid">Change password</button>
        </div>
    </form>
</div>
