<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                    >Active Projects</span
                    >
                    <div class="text-900 font-medium text-xl">
                        {{ activeProjects }}
                    </div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-folder-open text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium"
            >{{ newProjects }} new
            </span>
            <span class="text-500">since last week</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                    >Pending Task</span
                    >
                    <div class="text-900 font-medium text-xl">{{ pendingTasksCount }}</div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-clock text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-orange-500 font-medium">{{ pendingTasksCount }} pending </span>
            <span class="text-500"> tasks</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                    >Team Members</span
                    >
                    <div class="text-900 font-medium text-xl">
                        {{ maxUsersInAnyProject }}
                    </div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-users text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">
                {{ newTeamMembers }} member
            </span>
            <span class="text-500">in all projects</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                    >Resource Utilization</span
                    >
                    <div class="text-900 font-medium text-xl">
                        {{ totalCompletedTasks }} tasks done
                    </div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-purple-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-chart-line text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">
                {{
                    utilizationChange >= 0
                        ? utilizationChange.toFixed(2) + "%"
                        : utilizationChange.toFixed(2).slice(1) + "%"
                }}
            </span>
            <span class="text-500">{{
                    utilizationChange >= 0 ? "increase" : "decrease"
                }}</span>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Task List</h5>
            <p-table
                [value]="tasks"
                [paginator]="true"
                [rows]="4"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Task</th>
                        <th>Status</th>

                        <th>Due Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-task>
                    <tr>
                        <td>{{ task.title }}</td>
                        <td>{{ task.status }}</td>

                        <!-- Add default if priority is missing -->
                        <td>{{ task.dateCreation | date }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <!-- You can place additional content or widgets here -->
    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Unique Members Across All Projects</h5>
            <p-table
                [value]="uniqueMembers"
                [paginator]="true"
                [rows]="4"
                responsiveLayout="stack"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-member>
                    <tr>
                        <td>{{ member.firstName }}</td>
                        <td>{{ member.lastName }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <h5>Project List</h5>
            <p-table
                [value]="projects"
                [paginator]="true"
                [rows]="4"
                [responsiveLayout]="'scroll'"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">
                            Project Name <p-sortIcon field="title"></p-sortIcon>
                        </th>
                        <th pSortableColumn="description">
                            Description
                            <p-sortIcon field="description"></p-sortIcon>
                        </th>
                        <th pSortableColumn="members">
                            members <p-sortIcon field="members"></p-sortIcon>
                        </th>
                        <th pSortableColumn="createDate">
                            creation date
                            <p-sortIcon field="createDate"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-project>
                    <tr>
                        <td>{{ project.title }}</td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.members.length }}</td>
                        <td>{{ project.createDate | date : "mediumDate" }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
