.project-form-container {
    position: relative; // Ensure relative positioning for the spinner

    .p-progressSpinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999; // Ensure the spinner is above all other elements
    }

    .field {
        margin-bottom: 1rem;
    }

    .p-multiselect {
        width: 100%;
    }

    .p-multiselect-panel {
        z-index: 1050 !important;
        max-height: 200px;
        overflow-y: auto;
    }

    .p-multiselect-items {
        max-height: 150px;
        overflow-y: auto;
    }

    .p-error {
        color: #f44336;
    }

    button[pButton] {
        width: 100%;
    }
}
